---
layout: default
---
{% for category in site.categories %}
  <article class="post">
  <div class="container">
  <h2 class="fade" id="{{ category | first }}-posts">{{category | first | capitalize}}</h2>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        <li>
         <h4 class="post-title">
          <a href="{{ post.url | prepend: site.baseurl}}">
            {{ post.title }}
          </a>
        </h4>
        </li>
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
  </article>
{% endfor %}