
<div class="clearfix"></div>

<footer class="site-footer txt-center">
  <hr>

  <ul class="social">
    {% for item in site.social %}
      {% for i in item %}
        <li><a href="{{ i.link }}" target="_blank"><i class="icon icon-{{ i.slug }}"></i></a></li>
      {% endfor %}
    {% endfor %}
  </ul>

  <small>Made with <i class="icon icon-heart"></i> by <a href="http://yosriady.com" target="_blank">Yos Riady</a> and <a href="https://github.com/Elixir-Recipes/Elixir-Recipes.github.io/graphs/contributors" target="_blank">awesome contributors</a></small>

</footer>
