<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="REvSdOuXsnRcvRVGXVhLRG_6ZFcu3tMz9POkG0Uy1g4" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#2ecc71">

<title>
  {% if page.url == "/" %}
    {{ site.title }}
  {% else %}
    {{ page.title }} &middot; {{ site.title }}
  {% endif %}
</title>
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

{% if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url }}">
{% endif %}

{% if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}">
{% endif %}

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

<!-- Icons -->
<link rel="shortcut icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}">
<link rel="icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}">
<script>base_url = "{{ site.baseurl }}";</script>