---
layout: default
title: Home
bodyclass: home
---

<section class="posts txt-center container">

  {% for post in paginator.posts %}
    <article class="post">
      {% if post.external_url %}
        <header class="post-header">
          <h1>
            <a class="post-link" href="{{ post.external_url  }}" target="_blank" title="Permalink to: {{ post.title }}">{{ post.title }}</a>
          </h1>
        </header>
      {% else %}
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}">{{ post.title }}</a>
        </h1>
        <span class="post-meta">
          <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date: "%b %-d, %Y" }}{% if post.category %} | {{ post.category }}{% endif %}</time>
        </span>
        <p><a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}" class="read-more">{{ post.content | strip_html | truncatewords: 30 }}</a></p>
      {% endif %}
    </article>
  {% endfor %}

  <nav class="pagination" role="pagination">
    <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <li><a class="next" href="{{ "/" | prepend: site.baseurl }}" title="Articles new">&laquo; Prev</a></li>
        {% else %}
          <li><a class="next" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/" title="Articles new">&laquo; Prev</a></li>
        {% endif %}
      {% endif %}

      <li><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></li>

      {% if paginator.next_page %}
        <li><a class="prev" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/" title="Articles old">Next &raquo;</a></li>
      {% endif %}
    </ul>
  </nav>

</section>

